extends layout

block content
  h1 One Line a Day
  h4 You write just one line every day, one minute of your time – that’s all it takes.
  hr
  .row.intro
    .col-md-8
      img.img-responsive(src='/assets/sample.png')
    .col-md-4
      p.lead This memory keeper is the perfect way to track the ups and downs of life, day by day. As the days fill, you’ll discover happy coincidences and relive forgotten moments, adding unexpected joy to all your days and years. Available online and mobile friendly means that you can access and write in your journal whenever and wherever you want!
      p
        a.btn.btn-default(href='/signup', role='button') Create Account